.link {
    cursor: pointer;
}

.btn a, .btn a:hover, .btn a:focus {
    text-decoration: none;
    color: #fff;
}

.navbar a, .navbar-brand a {
    text-decoration: none !important;
    color: black;
}